<h1>New task</h1>

<% form_for :task, :url => task_list_tasks_path(@task_list), :html => {:method => :post} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', task_list_tasks_path(@task_list) %>